.body{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  
  .content {
    padding: 0.5rem;
    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: 0.2rem;
  }

  .content-own {
    padding: 0.5rem;
    margin-left: 20%;
    margin-right: 0%;
    margin-bottom: 0.2rem;
  }

  h4, h6 {
    margin: 0;
    padding: 0;
  }