.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    height: 100%;
  }
  
  .content {
    margin-top:2rem;
    padding: 2rem;
    max-width: 80%;
  }

  .login-form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  mat-error{
    margin-bottom: 1rem;
    font-size: 1rem;
  }