<div class="body">
    <mat-card class="content">
        <form class="login-form">
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput placeholder="Enter your name" name="useName" type="text"
                    [(ngModel)]="userName" (input)="clearError()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" name="password" type="password"
                    [(ngModel)]="password" (input)="clearError()">
            </mat-form-field>
            <mat-error *ngIf="error">{{error}}</mat-error>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
        </form>
    </mat-card>
</div>