<div class="main-container">
    <mat-toolbar color="primary" class="toolbar">
        <div class="toolbar-left">
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 *ngIf="user" class="toolbar-titles">{{user.userName}}</h1>
        </div>
        <div class="toolbar-right">
            <h1 class="toolbar-titles" (click)="goToLogin()" *ngIf="!user">Login</h1>
            <h1 class="toolbar-titles" (click)="goToRegister()" *ngIf="!user">Register</h1>
            <h1 class="toolbar-titles" (click)="logout()" *ngIf="user">Logout</h1>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" fixedTopGap="64">
            <mat-nav-list>
                <a mat-list-item (click)="snav.toggle()" routerLink="">Home</a>
            </mat-nav-list>
            <mat-nav-list *ngIf="user" [matMenuTriggerFor]="menu">
                <a mat-list-item>Private</a>
            </mat-nav-list>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let userName of users"
                [matBadge]=getUnreadedMessage(userName) matBadgePosition="before" matBadgeColor="accent" matBadgeSize="small" [matBadgeHidden]="getUnreadedMessage(userName) === 0"
                (click)="goToChat(userName)"
                (click)="snav.toggle()"
                routerLink="chat">{{userName}}</button>
            </mat-menu>

        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
    <app-footer [user]="user"></app-footer>
</div>